# Exploratory data analysis of Cities Data in Python.

## Let us understand how to explore the data in python.

## Introduction

**What is Exploratory Data Analysis ?**

Exploratory Data Analysis or (EDA) is understanding the data sets by summarizing their main characteristics often plotting them visually. This step is very important especially when we arrive at modeling the data in order to apply Machine learning. Plotting in EDA consists of Histograms, Box plot, Scatter plot and many more. It often takes much time to explore the data. Through the process of EDA, we can ask to define the problem statement or definition on our data set which is very important.

**What data are we exploring today ?**

Challenge 1: City-Business Collaboration

In order to connect companies and cities together, we need to first understand how the data they each report is aligned or divergent by using data science and text analytics techniques. Then, we can begin to identify where there might be opportunities for collaboration and co-investment for mutual sustainability goals that will ultimately benefit all citizens of the city.

**Required Output**: Use of CDP data and ANY company data, including but not limited to CDP company data:

CDP City Data [LOCATION: City Data MSTeams] Source: public disclosures from North American cities Datapoints: population: 0.5, city emission reduction targets

CDP Company Data: [LOCATION: City Data MSTeams] Source: public disclosures from North American companies Datapoints: targets module C4.1-C4.3; Emissions data module C6.1, 6.3, 6.5, 6.10; Risks and opportunities module C2.2-C2.5

Bonus: enrich your information with publicly available external data sets such as city-level information on electric power users, employers, planned economic investment, business registries, corporate city taxpayers, members of local chambers of commerce, CBCA which is a consortium of CDP, WBCSD and C40



---

## 1. Importing the required libraries for EDA

Below are the libraries that are used in order to perform EDA (Exploratory data analysis) in this tutorial.

In [13]:
import pandas as pd
import numpy as np
import seaborn as sns                       #visualisation
import matplotlib.pyplot as plt             #visualisation
%matplotlib inline     
sns.set(color_codes=True)



---

## 2. Loading the data into the data frame.

Loading the data into the pandas data frame is certainly one of the most important steps in EDA, as we can see that the value from the data set is comma-separated. So all we have to do is to just read the CSV into a data frame and pandas data frame does the job for us.

To get or load the dataset into the notebook, place the data into the same directory as your Jupyter Notebook file. Then, open a *shell* in the same directory and run the command "jupyter notebook". After the notebook has started, check that you're using the correct kernal/environment in the top right corner.

In [14]:
import chardet
def find_encoding(fname):
    r_file = open(fname, 'rb').read()
    result = chardet.detect(r_file)
    charenc = result['encoding']
    return charenc

file = "Cities_Data_2017-2019_mb2.csv"
my_encoding = find_encoding(file)
df = pd.read_csv(file, encoding=my_encoding)
# To display the top 5 rows 
df.head(5)

,Project Year,Account Number,Account Name,Question Number,Question Name,Row Number,Row Name,Column Number,Column Name,Response Answer,Comments,File Name
0,2017,63999,"City of Miami Beach, FL",0.1,Please give a general description and introdu...,1,NaN,C1,Administrative boundary,City/Municipality,NaN,NaN
1,2017,62864,"City of Lancaster, PA",0.1,Please give a general description and introdu...,1,NaN,C1,Administrative boundary,City/Municipality,NaN,NaN
2,2017,61790,"City of Emeryville, CA",0.1,Please give a general description and introdu...,1,NaN,C1,Administrative boundary,City/Municipality,NaN,NaN
3,2017,58485,Abington Township,0.1,Please give a general description and introdu...,1,NaN,C1,Administrative boundary,City/Municipality,NaN,NaN
4,2017,54102,City of Albany,0.1,Please give a general description and introdu...,1,NaN,C1,Administrative boundary,City/Municipality,NaN,NaN

In [15]:
df.tail(5)                        # To display the botton 5 rows

,Project Year,Account Number,Account Name,Question Number,Question Name,Row Number,Row Name,Column Number,Column Name,Response Answer,Comments,File Name
135506,2019,35894,Ville de Montreal,5.0a,Please provide details of your total city-wide...,1,NaN,12,Please indicate to which sector(s) the target ...,Industrial facilities,NaN,NaN
135507,2019,35894,Ville de Montreal,5.0a,Please provide details of your total city-wide...,1,NaN,13,Does this target align to a requirement from a...,No,NaN,NaN
135508,2019,35894,Ville de Montreal,5.0a,Please provide details of your total city-wide...,1,NaN,14,Please describe your target. If your country h...,Baseline emissions have been updated. Please r...,NaN,NaN
135509,2019,35894,Ville de Montreal,8.0b,Please explain why you do not have a renewable...,1,Please explain,1,Reasoning,Other,NaN,NaN
135510,2019,35894,Ville de Montreal,8.0b,Please explain why you do not have a renewable...,1,Please explain,2,Comment,Montreal's electrical energy source is mostly ...,NaN,NaN



---

## Transform the Data
Find the data we're interested in, select it, and transform it into a more useful form.

### Find and Transform Unique Data
Once found, the data can then be transformed into an form that makes more sense to process/analyse

In [16]:
# Warning: Usually used for full rows
duplicate_rows_df = df[df.duplicated()]
print("number of duplicate rows: ", duplicate_rows_df.shape)
df = df.drop_duplicates()
duplicate_rows_df = df[df.duplicated()]
print("NEW number of duplicate rows: ", duplicate_rows_df.shape)

number of duplicate rows:  (0, 12)
NEW number of duplicate rows:  (0, 12)

In [17]:
# Select a column name to view unique values for that Column
print("Unique Values:")
uniques = {}
for col in list(df.columns):
    uniques[str(col)] = pd.unique(df[str(col)])
    print(len(uniques[str(col)]), "\t", col,)

Unique Values:
3 	 Project Year
219 	 Account Number
224 	 Account Name
81 	 Question Number
101 	 Question Name
129 	 Row Number
30 	 Row Name
51 	 Column Number
252 	 Column Name
20905 	 Response Answer
227 	 Comments
328 	 File Name

In [18]:
# Print a sample overview of the data
for col in uniques.keys():
    print(col, "\n", uniques[col][:3], "...")

Project Year
 [2017 2018 2019] ...
Account Number
 [63999 62864 61790] ...
Account Name
 ['City of Miami Beach, FL' 'City of Lancaster, PA'
 'City of Emeryville, CA'] ...
Question Number
 ['0.1' '0.2' '0.3'] ...
Question Name
 [' Please give a general description and introduction to your city including your city\x92s boundary in the text box below. '
 ' Emissions Accounting ChoiceReporting emissions is optional for all cities. By checking the boxes below you are indicating that you have fuel and/or greenhouse gas (GHG) emissions data to report at this time.\xa0Select \x91Government\x92 to report emissions from your local government operations (sometimes referred to as \x91corporate\x92 or \x91municipal\x92 emissions).Select \x91Community\x92 to report emissions from the entire city area over which the city government can exercise a degree of influence through the policies and regulations they implement (sometimes referred to as \x91geographic\x92 or \x91city wide\x92 emissions).Select both boxes to report fuel and/or emissions for both inventories.\xa0IF YOU HAVE NO FUEL AND/OR GREENHOUSE GAS EMISSIONS TO REPORT DO NOT CHECK EITHER BOX.'
 " Please provide information about your city's Mayor in the table below.\xa0 "] ...
Row Number
 [1 0 2] ...
Row Name
 [nan 'City boundary' 'Please complete'] ...
Column Number
 ['C1' 'C2' 'C3'] ...
Column Name
 [' Administrative boundary' ' Description of city'
 ' Government , Community, None'] ...
Response Answer
 ['City/Municipality' 'County' 'Other: Consolidated City County Government'] ...
Comments
 [nan
 'Arlington County Board members (5 elected at-large) serve 4-year terms. The Chairmanship rotates among the five elected Board members, a new Chair every January 1 for the following 12 months.'
 'Strategies have been defined in the greenhouse gas inventory report to reduce emissions County-wide'] ...
File Name
 [nan ' vulnerability-assessment (1).pdf'
 ' BrowardCAPReport2015_FINAL DRAFT_01252016.pdf'] ...

In [19]:
# Filter by a specific column value
# Goal Question ID: CDP City Data LOCATION: City Data MSTeams Source: public disclosures from North American cities Datapoints: population: 0.5, city emission reduction targets
# SQL to Pandas Cheatsheet: https://pandas.pydata.org/pandas-docs/stable/getting_started/comparison/comparison_with_sql.html
col_where_condition = df[df['Question Number'] == '0.5']
col_where_condition.tail()

,Project Year,Account Number,Account Name,Question Number,Question Name,Row Number,Row Name,Column Number,Column Name,Response Answer,Comments,File Name
134860,2019,58482,Ville de Laval,0.5,Please provide details of your city�s current ...,1,Please complete,4,Projected population year,2030,NaN,NaN
135101,2019,35894,Ville de Montreal,0.5,Please provide details of your city�s current ...,1,Please complete,1,Current population,1942044,NaN,NaN
135102,2019,35894,Ville de Montreal,0.5,Please provide details of your city�s current ...,1,Please complete,2,Current population year,2016,NaN,NaN
135103,2019,35894,Ville de Montreal,0.5,Please provide details of your city�s current ...,1,Please complete,3,Projected population,2240108,NaN,NaN
135104,2019,35894,Ville de Montreal,0.5,Please provide details of your city�s current ...,1,Please complete,4,Projected population year,2036,NaN,NaN

In [20]:
# We know the question number now, so we can ignore it and focus on the actual data
df = col_where_condition.drop(["Project Year", "Account Name", "Question Name", "Row Name", "Column Name", "Comments", "File Name", "Row Number","Column Number","Question Number", "Account Number"], axis=1)
df = df.rename(columns={"Response Answer" : "res"})
df.tail()

            res
134860     2030
135101  1942044
135102     2016
135103  2240108
135104     2036

## Data Cleaning
Fix missing, null, misplaced, duplicated, duplicitous or mistyped data points

In [21]:
df = df.dropna()

Here we check for the datatypes because sometimes numbers are stored as a strings.  If in that case, we have to convert to plot the data via a graph. 
object types refer to mixed types or variable length strings. See [Pandas types](https://pbpython.com/pandas_dtypes.html).

In [34]:
df.info()
df.tail()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1660 entries, 1656 to 135104
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   res     1660 non-null   object
dtypes: object(1)
memory usage: 105.9+ KB

            res
134860     2030
135101  1942044
135102     2016
135103  2240108
135104     2036

In [61]:
# Assign Data Types: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.astype.html
# Clean up numerical ranges and incorrect types
mask = df['res'].apply(lambda x: float(x).is_integer())
df2 = df[mask]
max_int = 2147483646
mask2 = df2['res'].apply(lambda x: int(x) < max_int)
df3 = df2[mask2]
df3.tail()
df3['res'] = df3['res'].astype(int)
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1637 entries, 1656 to 135104
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   res     1637 non-null   int32
dtypes: int32(1)
memory usage: 19.2 KB

In [62]:
# Basic Plots
# Manual: https://pandas.pydata.org/pandas-docs/stable/user_guide/visualization.html
df.tail(50)

            res
131655     5035
131656     2016
131657     5319
131658     2021
131868     8532
131869     2016
131870     9460
131871     2050
132313    25377
132314     2017
132315    26562
132316     2030
132637    21457
132638     2010
132778     2121
132779     2010
132861    20372
132862     2017
132983    31394
132984     2010
132985    33410
132986     2020
133295    31822
133296     2019
133543    18000
133544     2019
133641     5450
133642     2018
133643     5500
133644     2019
134053     3500
134054     2018
134055     2018
134056     2019
134243   136235
134244     2018
134245   192860
134246     2031
134748     4565
134749     2010
134750     5000
134751     2020
134857   437413
134858     2017
134859   507213
134860     2030
135101  1942044
135102     2016
135103  2240108
135104     2036